<template>
  <div>
    <div class="portfolio-component mini-spacer">
      <v-container>
        <!-- -----------------------------------------------
            Start Portfolio Text
        ----------------------------------------------- -->
        <v-row justify="center">
          <v-col cols="12" sm="10" md="9" lg="7">
            <div class="text-center">
              <h1 class="section-title ">
                Article
              </h1>
            </div>
          </v-col>
        </v-row>
        
        <!-- -----------------------------------------------
            End Portfolio Text
        ----------------------------------------------- -->
        <!-- -----------------------------------------------
            Start Portfolio
        ----------------------------------------------- -->
        <v-row class="mt-13">
          <v-col cols="12" md="6" lg="4" v-for="(article, index) in articles" :key="index">
            <v-card class="portfolio-card overflow-hidden">
              <div class="portfolio-img">
                <img
                  src="@/assets/images/portfolio/img1.jpg"
                  class="img-fluid"
                  alt="portfolio"
                />
              </div>
              <v-card-text>
                <NuxtLink :to="`/detailarticle?id=${article.article_id}`" class="font-weight-medium font-18">
                  {{ article.title }}
                </NuxtLink>
                <p class="font-14 mb-0">{{ article.short_description }}</p>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>

        <!-- -----------------------------------------------
            End Portfolio
        ----------------------------------------------- -->
      </v-container>
    </div>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        articles: []
      }
    },
    async fetch() {
      this.articles = await this.$axios.$get('/articles/3');
    }
  }
</script>
