<!-- <v-dialog v-model="dialog" persistent max-width="600px"> -->

<template >
  <div>
    <!-- -----------------------------------------------
          Start Header
    ----------------------------------------------- -->
    <!-- <v-app-bar app absolute class="app-header" flat elevate-on-scroll> -->
      <!-- <v-container class="py-0 fill-height"> -->
        
        <!-- Logo -->
        
        <!-- <Logo />

        <v-spacer></v-spacer>
        <v-btn class="d-block d-md-none" text @click="toggleClass()">
          <v-app-bar-nav-icon class="white--text" />
        </v-btn> -->
        
        <!-- Desktop view Navigation -->
        
        <!-- <div
          class="navigation"
          v-bind:class="[isActive ? 'd-block' : '']"
          @click="isActive = !isActive"
        >
          <ul class="navbar-nav">
            <li class="nav-item" text>
              <n-link class="nav-link" nuxt to="/"> Custom Components </n-link>
            </li>
            <li class="nav-item" text>
              <n-link class="nav-link" nuxt to="/basic-components">
                Basic Components
              </n-link>
            </li>
            <li class="nav-item"> -->

              <!-- login-regiter -->
              
              <!-- <v-btn
                color="white"
                nuxt
                target="_blank"
                href="https://www.wrappixel.com/templates/nextkit-nuxtjs-free-uikit/"
                elevation="0"
              >
                Download Free
              </v-btn>

            </li>
          </ul>
        </div>
      </v-container>
    </v-app-bar> -->
    <!-- -----------------------------------------------
          End Header
    ----------------------------------------------- -->
        <!-- -----------------------------------------------
          Start Header
    ----------------------------------------------- -->
    <v-app-bar
      app
      class="app-header position-relative navbar-light header1"
      flat
    >
      <v-container class="py-0 fill-height">
        <!-- Logo -->
        <div class="logo">
          <NLink to="/">
            <v-img :src="require('@/assets/images/logos/sahaware.png')" width="350" alt="logo" />
          </NLink>
        </div>

        <!-- <v-spacer></v-spacer> -->
        <v-btn class="d-block d-md-none" text @click="toggleClass()">
          <v-app-bar-nav-icon />
        </v-btn>
        <!-- Desktop view Navigation -->
        <div
          class="navigation ml-10"
          v-bind:class="[isActive ? 'd-block' : '']"
          @click="isActive = !isActive"
        >
          <ul class="navbar-nav">
            <li class="nav-item" text>
              <n-link class="nav-link" nuxt to="/"> Home </n-link>
            </li>
            <li class="nav-item" text>
              <n-link class="nav-link" nuxt to="/article"> Article </n-link>
            </li>
            <!-- <div v-if="$auth.loggedIn"> nanti pas udah berhasil auth dan postnya xxx -->
              <li class="nav-item" text>
                <n-link class="nav-link" nuxt to="/create"> Create </n-link>
              </li>
            <!-- </div> -->
            <!-- <li class="nav-item" text>
              <n-link class="nav-link" nuxt to="/services"> Services </n-link>
            </li> -->
            <!-- <li class="nav-item" text>
              <n-link class="nav-link" nuxt to="/freebies"> Freebies </n-link>
            </li> -->
          </ul>
        </div>
        <!-- login-regiter -->
        <v-spacer></v-spacer>
        <!-- <v-btn class="d-none d-lg-flex btn-custom-nm ml-5" nuxt outlined color="primary" to="/" elevation="0"> -->
        <div v-if="$auth.loggedIn">
          <!-- {{ $auth.user.email }} -->
          <v-btn class="d-none d-lg-flex btn-custom-nm ml-5" @click="$auth.logout()" outlined color="primary" elevation="0">
            Logout
          </v-btn>
        </div>
        <div v-else>
          <v-btn class="d-none d-lg-flex btn-custom-nm ml-5" nuxt to="/login" outlined color="primary" elevation="0">
            Login
          </v-btn>
        </div>

        <!-- <v-btn
            color="primary"
            dark
            v-bind="attrs"
            v-on="on"
          >
            Open Dialog
          </v-btn> -->
      </v-container>
    </v-app-bar>
    <br><hr style="border: 0;clear:both;display:block;width:100%;background-color:lightgrey;height:2px;">
    <!-- -----------------------------------------------
          End Header
    ----------------------------------------------- -->
  </div>  

</template>

        <!-- <v-card>
          <v-card-title>
            <span class="text-h5">User Profile</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                
                <v-col cols="12">
                  <v-text-field
                    label="Email*"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Password*"
                    type="password"
                    required
                  ></v-text-field>
                </v-col>
                
              </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="blue darken-1"
              text
              @click="dialog = false"
            >
              Close
            </v-btn>
            <v-btn
              color="blue darken-1"
              text
              @click="dialog = false"
            >
              Save
            </v-btn>
          </v-card-actions>
        </v-card> -->

<!-- </v-dialog> -->

<script>
export default {
  name: "Header",

  // components: {
  //   Logo: () => import("@/layouts/sections/Logo")
  // },
  data() {
    return {
      isActive: false,
    };
  },
  
  // data: () => ({
  //     dialog: false,
  //   }),
  methods: {
    toggleClass: function(event) {
      this.isActive = !this.isActive;
    }
  }
};
</script>
