<template>
  <div>
  <v-alert v-if="show" type="success" >
    New article is successfully created.
  </v-alert>
  <v-alert v-if="showError" type="error" >
    The article is failed to create.
  </v-alert>
    <div class="mini-spacer">
      <v-container>
        <div v-if="$auth.loggedIn">
          <!-- -----------------------------------------------
              Start Contact Form
          ----------------------------------------------- -->
          <v-row justify="center">
            <v-col cols="12" sm="10" md="12" lg="8">
              <div>
                <h1 class="font-weight-medium  mt-0">
                  Create New Article
                </h1>
                  <v-row class="mt-15">
                    <v-col cols="12" md="12" class="py-0">
                      <h5>Title</h5>
                      <v-text-field
                        outlined
                        v-model="title"
                        placeholder="Title"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" class="py-0">
                      <v-textarea
                        outlined
                        label="Write your story"
                        rows="20"
                        v-model="description"
                      ></v-textarea>
                    </v-col>
                  </v-row>
              </div>
            </v-col>
            <v-col cols="12" sm="10" md="12" lg="4">
              <div>
                <h1 class="font-weight-medium mt-0">
                  Publication Detail
                </h1  >
                  <v-row class="mt-15">
                    <v-col cols="12" md="12" class="py-0">
                      <h5>Short Description</h5>
                      <v-textarea
                        outlined
                        label="Enter your Article Short Description"
                        rows="3"
                        v-model="short_description"
                      ></v-textarea>
                    </v-col>
                    <v-col cols="12" md="12" class="py-0">
                      <h5>Thumbnail</h5>
                      <v-file-input
                        label="Choose file"
                        outlined
                        truncate-length="15"
                      ></v-file-input>
                    </v-col>
                    <v-col cols="12" class="py-0">
                      <h5>Categories</h5>
                      <v-select
                        name="categories"
                        outlined
                        :items="items"
                      ></v-select>
                    </v-col>
                    <v-col cols="12" class="py-0">
                      <h5>Published</h5>
                      <v-switch
                        name="published"
                        label="Published"
                        v-model="is_visible"
                      ></v-switch>
                    </v-col>
                  </v-row>
                  <v-btn
                    class="btn-custom-md btn-danger-gradient mt-12"
                    outlined
                    color="white"
                    elevation="0"
                    v-on:click="createArticle()"
                  >
                    Publish
                  </v-btn>
              </div>
            </v-col>
          </v-row>
          <!-- -----------------------------------------------
              End Contact Form
          ----------------------------------------------- -->
        </div>
        <div v-else>
          <v-row justify="center">
            <v-col cols="12" sm="10" md="9" lg="7">
              <div class="text-center">
                <h1 class="section-title ">
                  You need to login to create article.
                </h1>
              </div>
            </v-col>
          </v-row>
        </div>
      </v-container>
    </div>
  </div>
</template>
<script>
export default {
  head() {
    return {
      title: "Create Article",
      meta: [
        {
          hid: "description",
          name: "Sahaware",
          content: "Sahaware is the best way",
        },
      ],
    };
  },
  name: "Contact",
  data() {
    return {
      title: "",
      description: "",
      short_description: "",
      is_visible: "",
      show: false,
      showError: false,
      items: []
    };
  },
  methods: {
    async createArticle() {
      try {
        console.log(this.title, this.description, this.short_description, this.is_visible);
        let result = await this.$axios.post("/create_article", {
          title: this.title,
          description: this.description,
          short_description: this.short_description,
          category_id: 1,
          is_visible: this.is_visible,
          image: "abc",
        })
        this.show = true;
        this.hide_alert();
      } catch {
        this.showError = true;
        this.hide_alert_err();
      }
    },

    // define methods under the `methods` object
    hide_alert: function (event) {
      // `event` is the native DOM event
      window.setTimeout(() => {
        this.show = false;
        console.log("hide alert after 3 seconds");
      }, 3000)    
    },

    // define methods under the `methods` object
    hide_alert_err: function (event) {
      // `event` is the native DOM event
      window.setTimeout(() => {
        this.showError = false;
        console.log("hide alert after 3 seconds");
      }, 3000)    
    },
  },
};
</script>
