<template>
  <div>
    <div class="feature1-component ">
      <v-container style=" padding: 0px 10% 0px 10%;">
        
        <!-- -----------------------------------------------
            Start Feature 1
        ----------------------------------------------- -->
        <v-row justify="center" class="mt-13">
          
          <v-col cols="12" md="12">
            <v-card elevation="0">
              <v-card-text>
                <h1 class="py-16">{{ article.title }}</h1>
                <p class="font-weight-thin">{{ article.short_description }}</p>
                <img src="@/assets/images/portfolio/img1.jpg" class="img-fluid py-16" alt="portfolio"/>
                <!-- <v-img :src="article.image" class="img-fluid py-16" alt="portfolio" /> -->
                <p class="font-weight-light font-18 mt-10 mb-8 py-16" style="color:black;">
                  {{ article.description }}
                </p>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <!-- -----------------------------------------------
            End Feature 1
        ----------------------------------------------- -->
      </v-container>
    </div>
  </div>
</template>


<script>
export default {
  head() {
    return {
      title: "Detail Article | Sahaware",
      meta: [
        {
          hid: "description",
          name: "Sahaware",
          content: "Sahaware is the best",
        },
      ],
    };
  },

  data() {
    return {
      article: {}
    }
  },
  
  async fetch() {
    console.log("id", this.$route.query.id)
    var getarticle = await this.$axios.$get('/article/' + this.$route.query.id);
    this.article = getarticle[0];
  },
};
</script>
