<template>
  <div>
    <div class="mini-spacer">
      <v-container style=" padding: 0px 30% 0px 30%;">
        <!-- -----------------------------------------------
            Start Contact Form
        ----------------------------------------------- -->
        <v-row justify="center">
          <v-col cols="12" sm="10" md="12" lg="12">

  <v-alert v-if="show" type="error" >
    {{ message }}
  </v-alert>
            <div>
              <h1 class="font-weight-medium  mt-0">Login</h1>
              <h5 class="font-weight-light" >Don't have an account? <NuxtLink to="/register">Create account</NuxtLink></h5>
              <v-row class="mt-15">
                <v-col cols="12" md="12" class="py-0">
                  <h5>Email</h5>
                  <v-text-field
                    label="Email"
                    outlined
                    type="email"
                    v-model="login.email"
                    placeholder="Email"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="12" class="py-0">
                  <h5>Password</h5>
                  <v-text-field
                    outlined
                    label="Password"
                    v-model="login.password"
                    name="password"
                    placeholder="Password"
                    :rules="[rules.required, rules.min]"
                    counter
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="show1 ? 'text' : 'password'"
                    @click:append="show1 = !show1"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-btn
                class="btn-custom-md btn-danger-gradient mt-12"
                outlined
                color="white"
                elevation="0"
                v-on:click="loginUser()"
              > Login
              </v-btn>
            </div>
          </v-col>
          
        </v-row>
              </form>
        <!-- -----------------------------------------------
            End Contact Form
        ----------------------------------------------- -->
      </v-container>
    </div>
  </div>
</template>
<script>
// import axios from "axios";

export default {
  auth: false,
  head() {
    return {
      title: "Login",
      meta: [
        {
          hid: "description",
          name: "Sahaware",
          content: "Sahaware is the best way",
        },
      ],
    };
  },
  mounted() {
    if (this.$auth.loggedIn) {
      this.$router.push('/create');
    }
  },

  data () {
    return {
      login: {
        email: '',
        password: '',
      },
      show1: false,
      rules: {
        required: value => !!value || 'Required.',
        min: v => v.length >= 8 || 'Min 8 characters',
      },
      show: false,
      message: 'default',
    }
  },
  name: "Login",
  methods: {
    async loginUser() {
      try {
        let succesfulLogin = await this.$auth.loginWith('local', { data: this.login });// .then(() => {

        if (succesfulLogin) {
          await this.$auth.setUser(succesfulLogin.data.user)
        }

        this.$router.push('/create');
      } catch (err) {
        // console.log(err)
      }
    },

    // define methods under the `methods` object
    hide_alert: function (event) {
      console.log('Hide')
      // `event` is the native DOM event
      window.setTimeout(() => {
        this.show = false;
        console.log("hide alert after 3 seconds");
      }, 3000)    
    }
  },
};
</script>
