<template>
  <div>
    <div class="mini-spacer">
      <v-container style=" padding: 0px 30% 0px 30%;">
        <!-- -----------------------------------------------
            Start Contact Form
        ----------------------------------------------- -->
        <v-row justify="center">
          <v-col cols="12" sm="10" md="12" lg="12">
              <!-- <form> -->
  <v-alert v-if="show" type="success" >
    New user has been successfully registered.
  </v-alert>
  <v-alert v-if="showError" type="error" >
    The user is already registered.
  </v-alert>
            <div>
              <h1 class="font-weight-medium  mt-0">Create Account</h1>
              <h5 class="font-weight-light" >Have an account? <NuxtLink to="/login">Login</NuxtLink></h5>
                <v-row class="mt-15">
                  <v-col cols="12" md="12" class="py-0">
                    <h5>Fullname</h5>
                    <v-text-field
                      label="Fullname"
                      outlined
                      type="text"
                      v-model="fullname"
                      placeholder="Fullname"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="12" class="py-0">
                    <h5>Email</h5>
                    <v-text-field
                      label="Email"
                      outlined
                      type="email"
                      v-model="email"
                      placeholder="Email"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="12" class="py-0">
                    <h5>Password</h5>
                    <v-text-field
                      outlined
                      label="Password"
                      v-model="password"
                      name="password"
                      placeholder="Password"
                      :rules="[rules.required, rules.min]"
                      counter
                      :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="show1 ? 'text' : 'password'"
                      @click:append="show1 = !show1"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-btn
                  class="btn-custom-md btn-danger-gradient mt-12"
                  outlined
                  color="white"
                  elevation="0"
                  v-on:click="registerUser()"
                > Create Account
                </v-btn>
              <!-- </form> -->
            </div>
          </v-col>
          
        </v-row>
              <!-- </form> -->
        <!-- -----------------------------------------------
            End Contact Form
        ----------------------------------------------- -->
      </v-container>
    </div>
  </div>
</template>
<script>
// import axios from "axios";

export default {
  data () {
    return {
      show1: false,
      fullname: '',
      email: '',
      password: '',
      rules: {
        required: value => !!value || 'Required.',
        min: v => v.length >= 8 || 'Min 8 characters',
      },
      show: false,
      showError: false,
    }
  },
  head() {
    return {
      title: "Create Article",
      meta: [
        {
          hid: "description",
          name: "Sahaware",
          content: "Sahaware is the best way",
        },
      ],
    };
  },
  name: "Register",
  methods: {
    async registerUser() {
      try {
        console.log(this.fullname, this.email, this.password);
        let result = await this.$axios.post("/register", {
          name: this.fullname,
          email: this.email,
          password: this.password
        });
        this.show = true;
        this.hide_alert();
      } catch {
        this.showError = true;
        this.hide_alert_err();
      }
    },

    // define methods under the `methods` object
    hide_alert: function (event) {
      // `event` is the native DOM event
      window.setTimeout(() => {
        this.show = false;
        console.log("hide alert after 3 seconds");
      }, 3000)    
    },

    // define methods under the `methods` object
    hide_alert_err: function (event) {
      // `event` is the native DOM event
      window.setTimeout(() => {
        this.showError = false;
        console.log("hide alert after 3 seconds");
      }, 3000)    
    },
  },
};
</script>
