<template>
  <div class="modal-overlay">
    <div class="modal">
      <!-- <img class="check" src="~/assets/check-icon.png" alt="" /> -->
      <h6>Saved!</h6>
      <p>Your Details have been saved Successfully</p>
      <button>Go Home</button>
    </div>
    <div class="close">
      <!-- <img class="close-img" src="~/assets/close-icon.svg" alt="" /> -->
    </div>
  </div>
</template>
<script>
  export default {
    // data() {
    //   return {
    //     mountains: []
    //   }
    // },
    // async fetch() {
    //   this.mountains = await fetch(
    //     'https://api.nuxtjs.dev/mountains'
    //   ).then(res => res.json())
    // }
  }
</script>
